@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    background-color: blue;
}
img#perfimage{
    border-radius: 50%;
    height: 150px;
    border: 2px solid blue;
}