@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
  --fundo-principal: #efefef;
  --texto: #222222;
  --texto-inverso:#ffffff;
  --destaque: #008000;
  --destaque-inverso: #9acd32;
  --fundo-card: #ffffff;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}



/*-----Navegador-----*/
header{
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
header nav#menu ul{
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}
header nav#menu ul li a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 1s;
}
header nav#menu ul li a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
  cursor: pointer;
}



/*-----Centro-----*/
main{
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
  margin-top: 20px;
}



/*-----Seção de Perfil-----*/
section#ficha{
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 10px;
  grid-column: 2;
}
section#ficha img.foto{
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
}
section#ficha h1{
  color: var(--destaque);
  margin: 15px 0px;
  text-align: center;
  line-height: 1em;
}
section#ficha p{
  text-align: start;
  color: var(--texto);
}
section#ficha div#social{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  gap: 20px;
  margin: 15px 0px;
}
section#ficha div#social a{
  color: var(--destaque);
  text-decoration: none;
  transition: color 0.5s;
}
section#ficha div#social a:hover{
  color: var(--destaque-inverso);
  cursor: pointer;
}
section#detalhes article p{
  text-align: justify;
  color: var(--texto);
}



/*-----Seção de Detalhes-----*/
section#detalhes{
  grid-column: 2;
}
section#detalhes article{
  background-color: var(--fundo-card);
  border-radius: 10px;
  margin-bottom: 20px;
}
section#detalhes article h2{
  color: var(--destaque);
  padding: 10px;
  text-align: center;
}



/*-----Seção de Skills-----*/
#skill-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 0px 10px 20px 10px;
}
#skill-container .item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
}
#skill-container .info{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#skill-container .nome{
  font-weight: bold;
  color: var(--texto);
}
#skill-container .porcent{
  font-weight: bold;
  color: var(--destaque);
}
#skill-container .barra{
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: var(--fundo-principal);
}
#skill-container .progresso{
  background-color: var(--destaque-inverso);
  height: 100%;
  border-radius: 5px;
}



/*-----Seção de Formação-----*/
.formacao-container{
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding: 0 10px 10px 10px;
}
.formacao-container .curso{
  background-color: var(--fundo-principal);
  border-radius: 10px;
  border-left: 5px solid var(--destaque);
  border-top: 1px solid var(--fundo-principal);
  border-bottom: 1px solid var(--fundo-principal);
  border-right: 1px solid var(--fundo-principal);
  padding-left: 5px;
  transition: border 0.5s, background-color 0.7s;
}
.formacao-container .curso:hover{
  border-left: 15px solid var(--destaque-inverso);
  border-top: 1px solid var(--destaque-inverso);
  border-bottom: 1px solid var(--destaque-inverso);
  border-right: 1px solid var(--destaque-inverso);
  background-color: var(--fundo-card);
  cursor: pointer;
}
.formacao-container .curso .periodo{
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}
.formacao-container .curso .instituicao{
  color: var(--destaque);
  font-size: 1.1em;
}
.formacao-container .curso .titulacao{
  color: var(--texto);
}



/*-----Seção de Projetos-----*/
#projeto-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  padding: 0 10px 20px 10px;
}
#projeto-container .projeto{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--fundo-principal);
  padding: 10px;
  border-radius: 10px;
  border-left: 5px solid var(--destaque);
  border-top: 1px solid var(--fundo-principal);
  border-bottom: 1px solid var(--fundo-principal);
  border-right: 1px solid var(--fundo-principal);
  transition: border 0.5s, background-color 0.7s;
}
#projeto-container .projeto:hover{
  border-left: 15px solid var(--destaque-inverso);
  border-top: 1px solid var(--destaque-inverso);
  border-bottom: 1px solid var(--destaque-inverso);
  border-right: 1px solid var(--destaque-inverso);
  background-color: var(--fundo-card);
  cursor: pointer;
}
#projeto-container .foto{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}
#projeto-container .titulo{
  color: var(--destaque);
  font-size: 1.1em;
}
#projeto-container .periodo{
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}



/*-----FIM-----*/
footer{
  background-color: var(--destaque);
  color: var(--texto-inverso);
  text-align: center;
  padding: 20px;
}
footer a{
  color: var(--texto-inverso);
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}
footer a:hover{
  color: var(--destaque-inverso);
}



/*-----Media Query-----*/
@media screen and (min-width: 768px){
  main{
    grid-template-columns: auto 300px 1fr auto;
  }
  section#ficha{
    grid-column: 2/3;
    height: fit-content;
    position: sticky;
    top: 65px;
  }
  section#detalhes{
    grid-column: 3/4;
  }

  #skill-container{
    grid-template-columns: 1fr 1fr;
  }

  .formacao-container{
    flex-flow: column-reverse nowrap;
  }

  #projeto-container .projeto{
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  #projeto-container .projeto-info{
    max-width: 80%;
  }
  #projeto-container .foto{
    aspect-ratio: 1/1;
    max-width: 20%;
    max-height: 200px;
  }
}