@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso:#ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header{
    background-image: linear-gradient(to right, yellowgreen, green);
}
img#perfimage{
    border-radius: 50%;
    height: 150px;
    border: 2px solid blue;
}