@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso:#ffffff;
  --destaque: #008000;
  --destaque-inverso: #9acd32;
  --fundo-card: #ffffff;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header{
    background-image: linear-gradient(to right, var(--destaque-inverso), var(--destaque));
    color: var(--texto);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
header nav#menu ul{
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}
header nav#menu ul li a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 1s;
}
header nav#menu ul li a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
  cursor: pointer;
}



main{
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
  margin-top: 20px;
}
main section#ficha{
  background-color: var(--fundo-card);
  border-radius: 20px;
  grid-column: 2;
}
main section#ficha img#foto{
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-top: 20px;
}
main section#ficha h1{
  color: var(--destaque);
  margin: 20px 0px;
  text-align: center;
  line-height: 1em;
}
main section#ficha p{
  text-align: justify;
}
main section#ficha div#social{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
  margin: 20px 0;
}
main section#ficha div#social a{
  color: var(--destaque);
  text-decoration: none;
  transition: color 0.5s;
  font-size: 1.5em;
}
main section#ficha div#social a:hover{
  color: var(--destaque-inverso);
  cursor: pointer;
}

main section#detalhes{
  grid-column: 2;
}
main section#detalhes article{
  background-color: var(--fundo-card);
  border-radius: 10px;
  margin-bottom: 20px;
}
main section#detalhes article h2{
  color: var(--destaque);
  padding: 10px;
  text-align: center;
}