@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso:#ffffff;
  --destaque: green;
  --destaque-inverso: yellowgreen;
  --fundo-card: #ffffff;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header{
    background-image: linear-gradient(to right, var(--destaque-inverso), var(--destaque));
    color: var(--texto);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
header nav#menu ul{
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}
header nav#menu ul li a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 1s;
}
header nav#menu ul li a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
  cursor: pointer;
}

img#foto{
    border-radius: 50%;
    height: 150px;
    border: 2px solid var(--destaque);
}