@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
  --fundo-principal: #efefef;
  --texto: #222222;
  --texto-inverso:#ffffff;
  --destaque: #008000;
  --destaque-inverso: #9acd32;
  --fundo-card: #ffffff;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}



/*-----Seção do Navegador-----*/
header{
    background-image: linear-gradient(to right, var(--destaque-inverso), var(--destaque));
    color: var(--texto);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
header nav#menu ul{
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}
header nav#menu ul li a{
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 1s;
}
header nav#menu ul li a:hover{
  background-color: var(--destaque-inverso);
  color: var(--destaque);
  cursor: pointer;
}



/*-----Seção Principal-----*/
main{
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
  margin-top: 20px;
}
main section#ficha{
  background-color: var(--fundo-card);
  border-radius: 20px;
  grid-column: 2;
}
main section#ficha img#foto{
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-top: 20px;
}
main section#ficha h1{
  color: var(--destaque);
  margin: 20px 0px;
  text-align: center;
  line-height: 1em;
}
main section#ficha p{
  text-align: justify;
  padding: 0px 20px;
}
main section#ficha div#social{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
  margin: 20px 0;
}
main section#ficha div#social a{
  color: var(--destaque);
  text-decoration: none;
  transition: color 0.5s;
  font-size: 1.5em;
}
main section#ficha div#social a:hover{
  color: var(--destaque-inverso);
  cursor: pointer;
}



/*-----Seção de Articles-----*/
main section#detalhes{
  grid-column: 2;
}
main section#detalhes article{
  background-color: var(--fundo-card);
  border-radius: 10px;
  margin-bottom: 20px;
}
main section#detalhes article h2{
  color: var(--destaque);
  padding: 10px;
  text-align: center;
}



/*-----Seção de Skills-----*/
#skill-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 0px 10px 20px 10px;
}
#skill-container .item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
}
#skill-container .info{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#skill-container .nome{
  font-weight: bold;
  color: var(--texto);
}
#skill-container .porcent{
  font-weight: bold;
  color: var(--destaque);
}
#skill-container .barra{
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: var(--fundo-principal);
}
#skill-container .progresso{
  background-color: var(--destaque-inverso);
  height: 100%;
  border-radius: 5px;
}
@media screen and (min-width: 768px){
  #skill-container{
    grid-template-columns: 1fr 1fr;
  }
}



/*-----Seção de Formação-----*/
.formacao-container{
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding: 0 10px 10px 10px;
}
.formacao-container .curso{
  background-color: var(--fundo-principal);
  border-radius: 10px;
  border-left: 5px solid var(--destaque);
  padding-left: 5px;
  transition: border 0.5s;
}
.formacao-container .curso:hover{
  border-left: 15px solid var(--destaque-inverso);
  cursor: pointer;
}
.formacao-container .curso .periodo{
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}
.formacao-container .curso .instituicao{
  color: var(--destaque);
  font-size: 1.1em;
}
.formacao-container .curso .titulacao{
  color: var(--texto);
}
@media screen and (min-width: 768px){
  .formacao-container{
    flex-flow: column-reverse nowrap;
  }
}